.neon-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 60px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  text-align: center;
}

h2 { 
  font-size: 4rem;
  color: #fff; 
  letter-spacing: 3px;
  font-weight: 300; 
  margin-bottom: 40px;
}
h2 span { 
  color: #ff00ff; 
  font-weight: 800; 
  text-shadow: 0 0 10px #ff00ff; 
}

.count-display {
  font-size: 6rem;
  font-weight: 900;
  background: linear-gradient(to bottom, #fff, #00d2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.input-group span {
  display: block; 
  color: #aaa; 
  font-size: 0.7rem; 
  margin-bottom: 8px; 
  text-transform: uppercase;
}

.input-group input {
  background: rgba(255,255,255,0.1);
  border: none;
  border-bottom: 2px solid #00d2ff;
  color: #fff;
  font-size: 1.2rem;
  width: 60px;
  text-align: center;
  margin-bottom: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btns { 
  display: flex; 
  gap: 20px; 
  justify-content: center; 
  margin-bottom: 20px;
}

.btn-plus {
  background: #00d0ff65;
  box-shadow: 0 0 20px rgba(0, 210, 255, 0.5);
  color: #000;
  width: 60px; height: 60px; border-radius: 50%; font-size: 1.5rem;
}
.btn-plus:hover {
  border-color: #00d2ff;
  background: #00d2ff;
}

.btn-minus {
  background: transparent;
  border: 2px solid #ff00ff5b;
  color: #ff00ff5b;
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.3);
  width: 60px; height: 60px; border-radius: 50%; font-size: 1.5rem;
}
.btn-minus:hover {
  border-color: #ff00ff;
  color: #ff00ff;
}

.reset-link { 
  background: none; 
  color: #666; 
  font-size: 0.8rem; 
  /* text-decoration: underline;  */
  cursor: pointer;
}